@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.vertical-nav{
  padding-left: 20px;
  min-width: 17rem;
  max-width: 17rem;
  height: 100vh;
  position: fixed; 
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  z-index: 2;
  /* margin-top: 5px; */
  overflow-y: auto;
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
} 



.horizontal_nav{
  margin-left: 17rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 10px rgba(231, 44, 44, 0.1);
  margin-top: 0px;
}

#sidebar.active{
  margin-left: -17rem;
}

#content{
  z-index: 0;
}
#content.active{
  width: 100%;
  margin-left: 0;
}

.text-gray{
  color: #aaa;
}

.nav-link{
  text-transform: capitalize;
  color: #f7f4f4;
  font-weight: 500;
}

.nav-link:hover{
  color: #aa0e28;
}

.close-btn{
  opacity: 0;
}
@media screen and (max-width: 767px) {
  .vertical-nav{
    padding-left: 20px;
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(135, 65, 65, 0.1);
    transition: all 0.4s;
    z-index: 2;
  }

  #sidebar{
    margin-left: -17rem;
  }

  #sidebar.active{
    margin-left: 0;
  }

  #content{
    width: 100%;
    margin: 0;
    z-index: 0;
  }

  #content.active{
    margin-left: 0;
    width: 100%;
  }

  .horizontal_nav{
    margin: 0;
    z-index: 1;
  }
  .close-btn{
    opacity: 100%;
  }
}

.body {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  min-height: 100vh;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.vertical-nav {
  padding-left: 20px;
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.horizontal_nav {
  margin-left: 17rem;
  display: flex;
  justify-content: space-between;
}


.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin-left: 0;
}

.separator {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dashed #000000;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.nav-link {
  text-transform: capitalize;
  color: #fffcfc;
  font-weight: 500;
}

.nav-link:hover {
  color: #efd510;
}

.text-primary {
  color: rgb(180, 70, 70);
}

.btn-primary {
  font-weight: 400;
}

.card-deck {
  display: flex;
  justify-content: center;
}

.card1 {
  background-color: #c3e1ff96;
  min-width: 20rem;
  max-width: 20rem;
  max-height: 30rem;
  min-height: 20rem;
  box-shadow: #d70f0f;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content {
    width: 100%;
    margin: 0;
  }

  #content.active {
    margin-left: 0;
    width: 100%;
  }

  .horizontal_nav {
    margin: 0;
  }

  #sidebar.active {
    margin-left: 0;
  }

  .horizontal_nav {
    margin: 0;
  }

  .card-deck {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.dropdown{
  margin-right: 25rem;
  padding-left: 300px;
  margin-left: -15rem;
  margin-top: 0.5rem;
}

.box{
  background-color: #83a9ebb9;
}

.text{
  color: rgb(148, 6, 6);
}

.horizontal_nav{
  background-color: #00000021;
}


.cross{
  height: 0.2rem;
  width: 0.2rem;
  
}

/* Custom CSS for adjusting the cross.png image */
.custom-close-btn {
  /* Adjust the button's position to the right of the logo */
  position: relative;
  left: auto;
  right: 25px;
  width: 2rem;
  height: 2rem;
}

.small-cross {
  /* Set the width and height for the smaller cross.png image */
  width: 1rem; /* Adjust as needed */
  height: 1rem; /* Maintain aspect ratio */
  /* Add any other styling you desire */
}


html,
body,
.intro {
  height: 100%;
}

.gradient-custom-1 {
  /* fallback for old browsers */
  background: #cd9cf2;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1))
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
tbody td {
  font-weight: 500;
  color: #999999;
}


/*search box*/
.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.table{
  background: #fccb90;

 
}


