@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.vertical-nav{
  padding-left: 20px;
  min-width: 17rem;
  max-width: 17rem;
  height: 100vh;
  position: fixed; 
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  z-index: 2;
  /* margin-top: 5px; */
  overflow-y: auto;
} 

.horizontal_nav{
  margin-left: 17rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 10px rgba(231, 44, 44, 0.1);
  margin-top: 0px;
}

#sidebar.active{
  margin-left: -17rem;
}

#content{
  z-index: 0;
}
#content.active{
  width: 100%;
  margin-left: 0;
}

.text-gray{
  color: #aaa;
}

.nav-link{
  text-transform: capitalize;
  color: #414141;
  font-weight: 500;
}

.nav-link:hover{
  color: #719b20;
}

.close-btn{
  opacity: 0;
}
@media screen and (max-width: 767px) {
  .vertical-nav{
    padding-left: 20px;
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(135, 65, 65, 0.1);
    transition: all 0.4s;
    z-index: 2;
  }

  #sidebar{
    margin-left: -17rem;
  }

  #sidebar.active{
    margin-left: 0;
  }

  #content{
    width: 100%;
    margin: 0;
    z-index: 0;
  }

  #content.active{
    margin-left: 0;
    width: 100%;
  }

  .horizontal_nav{
    margin: 0;
    z-index: 1;
  }
  .close-btn{
    opacity: 100%;
  }
}

.body {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  min-height: 100vh;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.vertical-nav {
  padding-left: 20px;
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.horizontal_nav {
  margin-left: 17rem;
  display: flex;
  justify-content: space-between;
}


.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin-left: 0;
}

.separator {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dashed #000000;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.nav-link {
  text-transform: capitalize;
  color: #414141;
  font-weight: 500;
}

.nav-link:hover {
  color: #719b20;
}

.text-primary {
  color: rgb(180, 70, 70);
}

.btn-primary {
  font-weight: 400;
}

.card-deck {
  display: flex;
  justify-content: center;
}

.card1 {
  background-color: #c3e1ff96;
  min-width: 20rem;
  max-width: 20rem;
  max-height: 30rem;
  min-height: 20rem;
  box-shadow: #d70f0f;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content {
    width: 100%;
    margin: 0;
  }

  #content.active {
    margin-left: 0;
    width: 100%;
  }

  .horizontal_nav {
    margin: 0;
  }

  #sidebar.active {
    margin-left: 0;
  }

  .horizontal_nav {
    margin: 0;
  }

  .card-deck {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.dropdown{
  margin-right: 25rem;
  padding-left: 300px;
  margin-left: -15rem;
  margin-top: 0.5rem;
}

.box{
  background-color: #83a9ebb9;
}

.text{
  color: rgb(148, 6, 6);
}

.horizontal_nav{
  background-color: #00000021;
}


.cross{
  height: 0.2rem;
  width: 0.2rem;
  
}

/* Custom CSS for adjusting the cross.png image */
.custom-close-btn {
  /* Adjust the button's position to the right of the logo */
  position: relative;
  left: auto;
  right: 25px;
  width: 2rem;
  height: 2rem;
}

.small-cross {
  /* Set the width and height for the smaller cross.png image */
  width: 1rem; /* Adjust as needed */
  height: 1rem; /* Maintain aspect ratio */
  /* Add any other styling you desire */
}


